// cấu hình babel và import relative
{
    "presets": ["@babel/preset-env"],
    "plugins": [
      ["@babel/plugin-transform-runtime"],
         [ " module- Resolutionver " , {
            " alias " : {
              " * " : " ./src " 
           }
         }]
       ]
}